[submodule "OpticSiege/vendors/GLFW/glfw"]
	path = OpticSiege/vendors/GLFW/glfw
	url = https://github.com/glfw/glfw.git
	branch = master

[submodule "OpticSiege\\vendors\\SPDLOG\\spdlog"]
	path = OpticSiege\\vendors\\SPDLOG\\spdlog
	url = https://github.com/gabime/spdlog
	branch = master

[submodule "OpticSiege\\vendors\\IMGUI\\imgui"]
	path = OpticSiege\\vendors\\IMGUI\\imgui
	url = https://github.com/ocornut/imgui.git
	branch = master
